# Android
android/.gradle/
android/build/
android/app/build/
android/.idea/
android/local.properties
android/*.iml
android/.DS_Store

# Node
backend/node_modules/
backend/.env
backend/npm-debug.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/